## 넘파이 복습

In [ ]:
import numpy as np

array1 = np.array([1,2,3])
print('array1 type: ',type(array1))
print('array1 array 형태:', array1.shape) # 1차원 array로 3개의 데이터를 가지고 있음.
                                          # 1차원임을 (3,)로 표현함

array2 = np.array([[1,2,3],
                   [2,3,4]])
print('array2 type:',type(array2))
print('array2 array 형태:', array2.shape) # 2차원 array로 2개의 로우와 3개의 컬럼 보유.

array3 = np.array([[1,2,3]])
print('array3 type: ',type(array3))
print('array3 array 형태:', array3.shape) # 2차원 array로 1개의 로우와 3개의 칼럼 보유
                                          # 2차원임을 (1,3)으로 표현함.

array1 type:  <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type:  <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [ ]:
# array 별 몇차원인지 출력

print('array1: {:0}차원, array2: {:1}차원, array3: {:2}차원'.format(array1.ndim, array2.ndim, array3.ndim))

array1: 1차원, array2: 2차원, array3:  2차원

In [ ]:
# ndarray 내의 데이터 타입은 dtype속성으로 확인 가능

list1 = [1,2,3] # 리스트 자료형
print(type(list1))

array1 = np.array(list1)  #ndarray로 변경
print(type(array1))

print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [ ]:
# 서로다른 데이터 타입을 가질 수 있는 리스트와 달리
# ndarray내의 데이터 타입은 그 연산 특성상 같은 데이터 타입만 가능


# 문자와 숫자가 섞여 있을 경우.
list2 = [1,2,'test']
array2 = np.array(list2)
print(array2,array2.dtype)
#데이터 타입이 더 큰 쪽으로 변환이 되어 숫자형이 모두 유니코드문자열로 변경됨

list3 = [1,2,3.0]
array3 = np.array(list3)
print(array3, array3.dtype)
# int 1,2가 모두 float64형으로 변경됨

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [ ]:
array_int = np.array([1,2,3])
array_float = array_int.astype('float64')
print(array_float, array_float.dtype)
array_int1 = array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1 = np.array([1.1,2.1,3.1])
array_int2 =  array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

### ndarray를 편리하게 생성하기 - arange, zeros, ones

In [ ]:
# arange() = array를 range로 표현한 것.
# 0부터 함수 인자값 -1까지의 값을 순차적으로 ndarray의 데이터 값으로 변환
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

# 디폴트 함수인자는 stop값(여기서는 10)이며,

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [ ]:
# zeros()

zeros_array = np.zeros((3,2),dtype = 'int32')
print(zeros_array)
print(zeros_array.dtype, zeros_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)

In [ ]:
# ones()

one_array= np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

## ndarray의 차원과 크기를 변경하는 reshape()

In [ ]:
array1 = np.arange(10)
print('array1:: \n',array1)

array2 = array1.reshape(2,5)
print('array2: \n',array2)

array3 = array2.reshape(5,2)
print('array3: \n',array3)

array1::
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [ ]:
array1.reshape(5,2)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
array1 = np.arange(10)
print(array1)

array2 = array1.reshape(-1,5)  #로우인자가 -1, 칼럼인자가 5
                               # 2차원 ndarray로 변환하되,
                               # 고정된 5개의 칼럼에 맞는 로우를 자동으로(-1) 생성해 변환하라는 뜻
print('array2 shape:',array2.shape)

array3 = array1.reshape(5,-1)
print('array3 shape:',array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [ ]:
# np.argsort()
# 원본 행렬이 정렬되었을 때 [기존 행렬의 원소에 대한 인덱스를 필요로 할 때 사용.]
# = 정렬 행렬의 원본 행렬 인덱스를 ndarray 형으로 반환

org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스: ',sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스:  [1 0 3 2]

In [ ]:
org_array = np.array([3,1,9,5])
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 행렬의 인덱스 :',sort_indices_desc)

행렬 내림차순 정렬 시 행렬의 인덱스 : [2 3 0 1]

In [ ]:
# np.argsort()를 학생데이터에 활용하는 예시

name_array = np.array(['John', 'Mike', 'Sarah', 'Kate', 'Samuel'])
score_array= np.array([78, 95, 84, 98, 88])

sort_indices_asc = np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스: ',sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스:  [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

In [ ]:
# 팬시 인덱스
# 해당 위치의 인덱스에 해당하는 ndarray를 반환하는 인덱싱방법
import numpy as np
array1d = np.arange(start = 1, stop = 10)
array2d = array1d.reshape(3,3)

array3 = array2d[[0,1],2] # array2d에서 0번째와 1번째 행의 2번째 열 요소를 선택
print('array2d[[0.1],2]=>', array3.tolist()) # array3.tolist()= array3를 파이썬리스트로 출력

# 1  2   [3]
# 4  5   [6]
# 7  8    9

array4 = array2d[[0,1],0:2]
print('array2d[[0.1],2]=>', array4.tolist())

# [1  2 ]  3
# [4  5 ]  6
#  7  8    9

array5 = array2d[[0,1]]
print('array2d[[0,1]]=>',array5.tolist())
# [1  2  3]
# [4  5  6]
#  7  8  9

# tolist()= 배열 형태의 객체를 파이썬 리스트로 변환하는 메소드

array2d[[0.1],2]=> [3, 6]
array2d[[0.1],2]=> [[1, 2], [4, 5]]
array2d[[0,1]]=> [[1, 2, 3], [4, 5, 6]]

In [ ]:
# 불린 인덱싱
# 조건 필터링과 검색을 동시에 할수 있음.
# 인덱스를 지정하는 [] 안에 조건문을 그대로 기재하면 됨.

array1d = np.arange(start=1, stop=10)
# [ ]안에 array1d > 5 Boolean indexing을 적용
array3 = array1d[array1d > 5]
print('array1d > 5 불린 인덱싱 결과 값:', array3)

array1d > 5 불린 인덱싱 결과 값: [6 7 8 9]

In [ ]:
array1d > 5
# 5보다 큰 값일 경우 True로 표기되고 있다.
# false가 있는 0~4 인덱스는 무시. [5,6,7,8] 인덱스의 실제값인 [6,7,8,9]를 반환하게 된다.

array([False, False, False, False, False,  True,  True,  True,  True])

In [ ]:
# 위와 동일한 불린 ndarray를 만들고 이를 array1d[]내에 인덱스로 입력하면 동일한 데이터 세트가
# 변환됨을 알 수 있다.

boolean_indexes = np.array([False, False, False, False, False,  True,  True,  True,  True])
array3 = array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:', array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [ ]:
# 즉, 다음과 같이 직접 인덱스 집합을 만들어 대입한 것과 동일 -- 33p참고

indexes = np.array([5,6,7,8])
array4 = array1d[indexes]
print('일반 인덱스로 필터링 결과:', array4) #5,6,7,8의 인덱스값을 출력

일반 인덱스로 필터링 결과: [6 7 8 9]

## np.sort()와 ndarray.sort(), argsort()의 차이
- np.sort()는 원 행렬은 그대로 유지한 채 원 행렬의 정렬된 행렬을 반환
- ndarray.sort()는 원 행렬 자체를 정렬한 형태로 변환하며 반환값은 None이다
- np.argsort() 는  정렬시 원본데이터의 인덱스 넘버출력

In [ ]:
# np.sort()로 정렬
org_array = np.array([3,1,9,5])
print('원본행렬:', org_array,'\n')

sort_array1 = np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬:',sort_array1)
print('np.sort() 호출 후 원본 행렬:',org_array)

원본행렬: [3 1 9 5]

np.sort() 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort() 호출 후 원본 행렬: [3 1 9 5]

In [ ]:
# ndarray.sort() 로 정렬
sort_array2 = org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬:', sort_array2)
#원본 배열을 인자로 받아 해당 배열을 오름차순으로 정렬합니다.
#정렬된 결과는 원본 배열 자체에 반영됩니다. 반환 값으로는 정렬된 결과가 아닌 None이 반환

print('org_array.sort() 호출 후 원본 행렬:',org_array)

# np.sort()는 원본 행렬을 변경하지 않고 정렬된 형태로 반환
# ndarray.sort()는 원본 행렬 자체를 정렬한 값으로 변환

org_array.sort() 호출 후 반환된 행렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]

In [ ]:
# 내림차순으로 정렬
sort_array1_desc = np.sort(org_array)[::-1]
print('내림차순으로 정렬:',sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [ ]:
# 정렬된 행렬의 인덱스 반환 -35p
# 원본이 정렬되었을 떄 기존 원본 행렬의 원소에 대한 인덱스가 필요할때, np.argsort() 사용

org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]
행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [ ]:
# 시험 성적순으로 학생 이름 출력

import numpy as np

name_array = np.array(['유리','슬기','인혁','수현','용훈'])
score_array = np.array([78,95,84,98,88])

sort_indices_asc = np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:', sort_indices_asc)
print('성적 오름차순으로 점수 출력:',np.sort(score_array))
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 점수 출력: [78 84 88 95 98]
성적 오름차순으로 name_array의 이름 출력: ['유리' '인혁' '용훈' '슬기' '수현']

## 선형대수 연산 - 행렬 내적과 전치 행렬 구하기

- 행렬 내적(=행렬의 곱)
: 두 행렬 A와 B의 내적은 np.dot()을 이용해 계산가능.

In [ ]:
A = np.array([[1,2,3],
              [4,5,6]])

B = np.array([[7,8],
              [9,10],
              [11,12]])

dot_product =  np.dot(A,B)
print('행렬 내적 결과 : \n',dot_product)

# 행렬의 1행 1열의 값인 58은 A행렬의 1행과 B행렬의 1열의 원소들을 차례로 곱한 값을 더한 것.
# 1 x 7 + 2 x 9 + 3 x 11 = 58

행렬 내적 결과 :
 [[ 58  64]
 [139 154]]

### 전치행렬
- 원 행렬에서 행과 열 위치를 교환한 행렬을 전치행렬 이라고 한다.

In [ ]:
A = np.array([[1,2],
              [3,4]])
transpose_mat = np.transpose(A)
print('A의 전치 행렬: \n', transpose_mat)

A의 전치 행렬:
 [[1 3]
 [2 4]]

##데이터 핸들링 = 판다스  복습

- 시리즈는 칼럼이 1개, DataFrame은 칼럼이 여러개.
- 캐글을 통해 많은 실전예제를 다운받을 수 잇음.

In [1]:
import pandas as pd

In [ ]:
# titanic_df = pd.read_csv('../dataset/titanic_train.csv')
# titanic_df.head()

FileNotFoundError: ignored

In [2]:
# 코랩에서 csv 사용할 때
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# CSV 파일 경로
titanic3 = '/content/drive/MyDrive/머신러닝/titanic_train.csv'

# CSV 파일 열기
titanic_df = pd.read_csv(titanic3)
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
print('titanic 변수 type: ',type(titanic_df))
titanic_df.head(3)

titanic 변수 type:  <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
print('DataFram 크기:',titanic_df.shape)

DataFram 크기: (891, 12)

In [6]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# 지정된 칼럼의 데이터값 건수를 반환
# pclass컬럼에서 등급별 카운팅
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

#3등급 491건, 2등급 184건, 1등급 216건

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [ ]:
titanic_pclass.head()
# 왼쪽은 시리즈 인덱스, 우측은 해당 칼럼의 데이터 값

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [ ]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
print('titanic_df 데이터 건수:', titanic_df.shape[0])
print('기본 설정인 dropna=True로 value_counts()')
# value_counts()는 디폴트로 dropna=True이므로 value_counts(dropna=True)와 동일.
print(titanic_df['Embarked'].value_counts(),'\n')
print(titanic_df['Embarked'].value_counts(dropna=False)) #Nan 값이 2개 출력됨

titanic_df 데이터 건수: 891
기본 설정인 dropna=True로 value_counts()
S    644
C    168
Q     77
Name: Embarked, dtype: int64

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

### DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환
- 넘파이 ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기

In [ ]:
# 1차원 형태


col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)
print('array1 shape:', array1.shape)

# 리스트를 이용해 DataFrame 생성
df_list1 = pd.DataFrame(list1, columns = col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

#넘파이 ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n',df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

In [ ]:
# 2차원 형태의 2행 3열

# 3개의 칼럼명이 필요함.
col_name2=['col1', 'col2', 'col3']

# 2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환.
list2 = [[1, 2, 3],
         [11, 12, 13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape )
df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13